* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #a8ebbf;
}

h1 {
  margin: 0px;
  font-size: 2.3em;
}

nav {
  display: flex;
  height: 4em;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #a8ebbf;
  margin: 1em;
}
.main {
  width: 80%;
  min-width: 600px;
  height: 550px;
  margin: 0 auto;
  background-color: #a8ebbf;
  border-radius: 5px;
}

.form {
  height: 90px;
  background-color: #6bdc92;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#color-selector {
  border-radius: 0px;
  border: 1px solid #299f51;
  background-color: #bcf0ce;
}
#get-color-scheme-button {
  font-weight: bold;
}
.color-mode-selector,
button {
  padding: 0.5em 2em;
  cursor: pointer;
  border: 1px solid #299f51;
  background-color: #a8ebbf;
  font-weight: inherit;
  font-size: 1.1em;
  color: #343232;
}

button:hover,
.color-mode-selector:hover,
#color-selector:hover {
  background-color: #d888bd;
  color: #000000;
  border: none;
}

.form input, /* color selector input*/
.color-mode-selector,
.form button {
  border: 1px solid #2db35c;
  height: 2.625em;
  border-radius: 0.375em;
  outline: none;
}

.colors-container {
  display: none;
  align-items: stretch;
  height: 410px;
}

#color-1,
#color-2,
#color-3,
#color-4,
#color-5 {
  display: flex;
  width: 20%;
  align-items: flex-end;
  justify-content: center;
  font-size: 1em;
  padding-bottom: 0.5em;
}
