* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 500px;
  height: 550px;
  margin: 0 auto;
  background-color: #fffdfe;
  border: 1px solid grey;
  border-radius: 5px;
}

.form {
  height: 90px;
  background-color: #d1d5db;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#color-selector {
  border-radius: 0px;
}

.color-mode-selector,
button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid grey;
}

button:hover {
  background-color: #a9b1bc;
}

.form input, /* color selector input*/
.color-mode-selector,
.form button {
  height: 42px;
  border-radius: 6px;
  outline: none;
}

.colors-container {
  display: flex;
  align-items: stretch;
  height: 460px;
}

#color-1,
#color-2,
#color-3,
#color-4,
#color-5 {
  display: flex;
  width: 20%;
  align-items: flex-end;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 10px;
}
